/*Body Styles*/
body{
    background-color: #111C24;;
}

/*Main-Title Styles*/
#Main-Tiltle{
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*Search Box Styles*/
#SearchBox{
    width: 40%;
    height: 48px;

    text-align: center;
    font-size: 36px;
    
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    border: 7px solid #465967;
    border-radius: 10px;
}

/*Start of changing color of placeholder*/
#SearchBox::-webkit-input-placeholder{
    color: black;
}
#SearchBox:-moz-placeholder{
    /* FF 4-18 */
    color: black;
    opacity: 1;
}
#SearchBox::-moz-placeholder{
    /* FF 19+ */
    color: black;
    opacity: 1;
}
#SearchBox:-ms-input-placeholder{
    /* IE 10+ */
    color: black;
}
#SearchBox::-ms-input-placeholder{
    /* Microsoft Edge */
    color: black;
}
#SearchBox::placeholder{
    /* modern browser */
    color: black;
}
/*Finish of changing color of placeholder*/

/*Starting to organize rows and columns*/
.Column{
    float: left;
    width: 50%;
  }

.Row{  
    margin-top: 80px;
}

.Column-Divider{
    border-left: 6px solid #465967;
    height: 60%;
    position: absolute;
    left: 50%;
    margin-top: 29px;
}
/*Finish row and columns organization*/

/*Styling Column Tiles*/
#Column-Title{ 
    color: #FFF;
    text-align: center;
    font-family: sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}